* {
  box-sizing: border-box;
  font-family: "Poppins", cursive;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: #ffd6e8;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: background 2s ease;
}

.container {
  position: relative;
  text-align: center;
  z-index: 2;
}

h1 {
  font-size: 3rem;
  color: #ff4f8b;
  margin-bottom: 40px;
}

button {
  width: 160px;
  padding: 15px 0;
  font-size: 1.4rem;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  position: relative;
}

#yesBtn {
  background: #ff4f8b;
  color: white;
}

#noBtn {
  background: white;
  color: #ff4f8b;
  position: absolute;
  transition: all 0.2s ease;
  touch-action: none;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}

/* FINAL SCENE */
#finalScene {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 10;
  display: none;
  pointer-events: none;
}

#finalText {
  font-size: 3.5rem;
  color: white;
  margin-bottom: 20px;
  opacity: 0;
  animation: fadeIn 2s forwards;
}

#photo {
  width: 260px;
  max-height: 45vh;
  object-fit: cover;
  border-radius: 20px;
  opacity: 0;
  box-shadow: 0 0 30px rgba(255, 100, 160, 0.8);
  transition: opacity 1.5s ease;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
